* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #921A40;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:"Prata", serif;
}

.container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 410px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

h1 {
    margin: 10px 0 20px 0;
    color: white;
    
}

input, select, button {
    padding: 10px;
    margin: 10px;
    width: 80%;
    font-size: 16px;
}

button{
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
p{
    color: white;
}